
.header{
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Encode Sans SC', sans-serif;
}

.col-12{
    font-family: 'Encode Sans SC', sans-serif;

}

.search-column{
    background-color:rgb(151, 148, 148);
    padding:10px;
}

.list-group-item{
    line-height: 0.5;
    border: none;
    font-family: 'Encode Sans SC', sans-serif
}
.card-body{
    flex:auto
}

span.bad{
    padding: 3px;
    background-color: red;
    color:white;
}

span.alright{
    padding: 3px;
    background-color: yellow;
}

span.sweet{
    padding: 3px;
    background-color: green;
    color:white;
}